.carousal-container
{
    width: 500px;
    height: 300px;
    border: 1px solid lightgray;

}
.carousal-content
{
    position: relative;
    top:0px;
    height: 100%;
    width: 100%;
    box-shadow: 10px 5px 5px lightgrey;
    transition-property: opacity, left, top, height;
    transition-duration: 1s, 0.5s;
    margin-bottom: 20px;

}